@font-face {
  font-family: motley-forces;
  src: url(MotleyForcesRegular-w1rZ3.ttf);
}

@font-face {
  font-family: shalma;
  src: url(Shalma-Rp0Pe.otf);
}

h1 {
	font-size: 70px;
	text-align:left;
	font-family: motley-forces;
	margin-bottom: 2%;
	margin-left: 10px;
	color: rgb(236, 226, 208);
	text-shadow: 2px 2px 5px rgb(182, 103, 105);
}

body {
	font-size: 20px;
	height: 20px;
	width: 350px;
	text-align: center;
	color: rgb(49, 47, 47);
	background-color: rgb(223, 185, 181);
}

#instructions {
	position: absolute;
	width: 90%;
	text-align: left;
	font-size: 150%;
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border-radius: 20px;
	border: 5px solid rgb(236, 226, 208);
	padding: 30px;
	margin-top: 40px;
	margin-left: 2%;
	font-family: times;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#play-button {
	position: absolute;
	margin-right: 120px;
	margin-top: -90px;
	border-radius: 20px;
	font-size: 80px;
	width: 80px;
	height: 50px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border: 3px solid rgb(236, 226, 208);
	font-family: shalma;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#menu {
	position: absolute;
	margin-right: 20px;
	margin-top: -90px;
	border-radius: 20px;
	font-size: 80px;
	width: 80px;
	height: 50px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border: 3px solid rgb(236, 226, 208);
	font-family: shalma;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}
