@font-face {
  font-family: motley-forces;
  src: url(MotleyForcesRegular-w1rZ3.ttf);
}

@font-face {
  font-family: shalma;
  src: url(Shalma-Rp0Pe.otf);
}

h1 {
	font-size: 70px;
	text-align:left;
	font-family: motley-forces;
	margin-bottom: 2%;
	margin-left: 10px;
	color: rgb(236, 226, 208);
	text-shadow: 2px 2px 5px rgb(182, 103, 105);
}

body {
	font-size: 20px;
	height: 20px;
	width: 350px;
	text-align: center;
	color: rgb(49, 47, 47);
	background-color: rgb(223, 185, 181);
}

table {
	border-spacing: 10px;
	position: absolute;
}

#main-table {
	margin-left: 40px;
}

#column {
	color: rgb(236, 226, 208);
	font-family: times;
	text-shadow: 2px 2px 5px rgb(182, 103, 105);
}

#row {
	margin-top: 35px;
	border-spacing : 10px;
	
	color: rgb(236, 226, 208);
	font-family: times;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgb(182, 103, 105);
}

td {
	padding: 5px;
}

input {
	height: 40px;
	width: 50px;
	font-size: 20px;
	margin-left: 350px;
}

#input-div {
	position: absolute;
	margin-top: -110px;
	margin-left: 700px;
	width: 300px;
	margin-right: 12%;
}

.label {
	margin-top: 40px;
}
	
.input {
	margin-top: 40px;
	text-align: center;
	font-size: 30px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border-radius: 20px;
	border: 3px solid rgb(236, 226, 208);
	font-family: times;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#labels {
	margin-top: 50px;
}

#inputs {
	margin-top: -360px;
	margin-left: -40px;
}

#word-grid {
	color: rgb(49, 47, 47);
}

#error-message {
	font-size: 30px;
	width: 750px;
	color: rgb(49, 47, 47);
	text-align: left;
	padding-left: 190px;
	border-radius: 20px;
	font-family: times;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgb(223, 185, 181);
}

.boxes {
	margin-top: -20px;
}

#button {
	position: absolute;
	font-size: 130px;
	margin-top: -100px;
	margin-right: 5%;
	width: 420px;
	height: 100px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border-radius: 20px;
	border: 5px solid rgb(236, 226, 208);
	padding-top: 10px;
	font-family: shalma;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#instructions {
	position: absolute;
	margin-right: 120px;
	margin-top: -90px;
	border-radius: 30px;
	font-size: 80px;
	width: 50px;
	height: 50px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border: 3px solid rgb(236, 226, 208);
	font-family: shalma;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#menu {
	position: absolute;
	margin-right: 20px;
	margin-top: -90px;
	border-radius: 20px;
	font-size: 80px;
	width: 80px;
	height: 50px;
	
	background-color: rgb(182, 103, 105);
	color: rgb(236, 226, 208);
	border: 3px solid rgb(236, 226, 208);
	font-family: shalma;
	text-shadow: 2px 2px 5px rgb(49, 47, 47);
}

#word-bank {
	position: absolute;
	float: center;
	text-align: left;
	margin-left: 10px;
	
	font-size: 20px;
	font-family: times;
}

#word-bank-head {
	text-align: left;
	margin-left: 10px;
	border-bottom: 2px solid rgb(49, 47, 47);
	
	font-size: 70px;
	color: rgb(236, 226, 208);
	font-family: motley-forces;
	text-shadow: 2px 2px 5px rgb(182, 103, 105);
}

.words {
	width: 100px;
}
